<!DOCTYPE html>
<html lang="en">
<head>    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>

<div class="container mt-4">
    <div class="card" style="width: 18rem;">            
        <div class="card-header">BMI calculator</div>    
        <div class="card-body">
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="mass" class="form-label">mass</label>
                    <input type="text" class="form-control" id="mass" name="mass">                        
                </div>
                <div class="mb-3">
                    <label for="height" class="form-label">height</label>
                    <input type="height" class="form-control" id="height" name="height">
                </div>

                <button type="submit" class="btn btn-primary">calculate</button>
            </form>
        </div>
    </div>
</div>
{{#if bmi }}
    <h4>{{bmi}}</h4>
{{/if}}
{{#if answer }}
    <h4>{{answer}}</h4>
{{/if}}

</body>
</html>

